/.DS_Store
a4a/writable/debugbar/*

a4a/writable/logs/l*
apache_log/error.log

*.log

a4a/writeable/*
a4a/writable/debugbar/*
a4a/writable/session/*
a4a/apache_log/*
dbdata/#innodb_temp/*
apache_log/error.log
apache_log/other_vhosts_access.log
apache_log/error.log
a4a/.env
apache_log/error.log

a4a/app/Views/.DS_Store
a4a/.DS_Store
a4a/app/.DS_Store
a4a/writable/debugbar/debugbar_1675657039.508162.json
a4a/app/.DS_Store
a4a/.DS_Store
node_app/node_modules/*